<input-component lazy-load-css="input-component" web-component>
    <input type="text" name="{{ input.title|camel }}" id="{{ input.title|camel }}" {{ input.required ? 'required' }}>
    <label for="{{ input.title|camel }}">{{ input.title }}</label>
</input-component>