<hero-carousel style="display:block;width:100%;" eager-load-css="hero-carousel" web-component>
    {% for slide in data.hero.homepageHeroCarousel %}
        <carousel-slide class="{{ (loop.first) ? 'is-active' : '' }}">
            {% if craft.imager.serverSupportsWebp() and craft.imager.clientSupportsWebp() %}
                {% set image = craft.imager.transformImage(slide.image[0], [
                    { width: 320, height: 600, position: slide.image[0].getFocalPoint(), format: 'webp' },
                    { width: 411, height: 600, position: slide.image[0].getFocalPoint(), format: 'webp' },
                    { width: 768, ratio: 16/9, position: slide.image[0].getFocalPoint(), format: 'webp' },
                    { width: 1024, ratio: 16/9, position: slide.image[0].getFocalPoint(), format: 'webp' },
                    { width: 1280, ratio: 16/9, position: slide.image[0].getFocalPoint(), format: 'webp' },
                    { width: 1600, ratio: 16/9, position: slide.image[0].getFocalPoint(), format: 'webp' },
                    { width: 1920, ratio: 16/9, position: slide.image[0].getFocalPoint(), format: 'webp' }
                ]) %}
            {% else %}
                {% set image = craft.imager.transformImage(slide.image[0], [
                    { width: 320, height: 600, position: slide.image[0].getFocalPoint() },
                    { width: 411, height: 600, position: slide.image[0].getFocalPoint() },
                    { width: 768, ratio: 16/9, position: slide.image[0].getFocalPoint() },
                    { width: 1024, ratio: 16/9, position: slide.image[0].getFocalPoint() },
                    { width: 1280, ratio: 16/9, position: slide.image[0].getFocalPoint() },
                    { width: 1600, ratio: 16/9, position: slide.image[0].getFocalPoint() },
                    { width: 1920, ratio: 16/9, position: slide.image[0].getFocalPoint() }
                ]) %}
            {% endif %}
            <img alt="{{ slide.image[0].alternateDescription }}" src="{{ image[0].url }}" srcset="{{ craft.imager.srcset(image) }}" width="1920" loading="lazy" style="opacity:0;transition:all 300ms ease;" onload="this.style.opacity = '1';">
            {% if slide.heading|length or slide.copy|length %}
                <content-shim>
                    <div>
                        {% if slide.heading|length %}
                            <h1>{{ slide.heading }}</h1>
                        {% endif %}
                        {% if slide.copy|length %}
                            <p>{{ slide.copy }}</p>
                        {% endif %}
                        {% if slide.button.url|length %}
                            <a href="{{ slide.button.url }}" class="g-button -solid -black -wide -tall">{{ slide.button.customText }}</a>
                        {% endif %}
                    </div>
                </content-shim>
            {% endif %}
        </carousel-slide>
    {% endfor %}
    {% if data.hero.homepageHeroCarousel|length > 1 %}
        <carousel-controls eager-load-css="hero-carousel-controls" style="opacity:0;visibility:hidden;transition:all 150ms ease;">
            {% for slide in data.hero.homepageHeroCarousel %}
                <button class="{{ loop.first ? 'is-active': '' }}" data-index="{{ loop.index0 }}" aria-label="switch to slide {{ loop.index }}"></button>
            {% endfor %}
        </carousel-controls>
        <carousel-timer aria-label="carousels progress bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></carousel-timer>
    {% endif %}
</hero-carousel>