{% extends "_base/utility" %}

{% import "_macros" as inputs %}

{% set success = craft.app.request.getParam('success') %}
{% block content %}
    <style>
        main{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <user-form eager-load-css="buttons login-form snackbar" web-component data-route="/actions/users/save-user">
        <form method="post" accept-charset="UTF-8" style="{{ success ? 'display:none;' }}">
            <h1>{{ "Create Account"|t }}</h1>
            <noscript>
                {{ csrfInput() }}
                {{ actionInput('users/save-user') }}
                {{ redirectInput('/register?success=true') }}
            </noscript>

            <input-component lazy-load-css="input-component" web-component>
                <input type="email" name="email" id="email" required inputmode="email">
                <label for="email">{{ "Email Address"|t }}</label>
            </input-component>
            <noscript>
                <style>
                    input-component label{
                        transform: translateY(0.25rem) scale(0.75);
                    }
                    input-component input{
                        background-color: var(--grey-100);
                    }
                </style>
            </noscript>

            {{ inputs.password('Password'|t, true) }}

            <div style="width:100%;display:flex;justify-content: space-between;align-items: center;flex-flow: row;">
                <a href="{{ siteUrl|trim('/') }}/forgot-password">Forget your password?</a>
                <button type="submit" class="button -solid -primary">{{ "Sign Up"|t }}</button>
            </div>
        </form>
        <success-message style="{{ success ? 'display:block;' : 'display:none;' }}">
            <h1>{{ "Your account has been created"|t }}</h1>
            <p>
                {{ "Check your email for an acitivation link. The email can take up to 10 minutes to arrive and if you don't see the email check the spam folder"|t }}
            </p>
            <p>
                {{ "If you are having issues recieving your activation link please"|t }}
                <a href="{{ siteUrl|trim('/') }}/form/general-support">{{ "contact support"|t }}.</a>
            </p>
        </success-message>
        <p id="alt-message">
            {{ "Already have an account?"|t }}
            <a href="{{ siteUrl|trim('/') }}/login">{{ "Sign In"|t }}</a>
        </p>
    </user-form eager-load-css="buttons login-form">
{% endblock %}
