{% import "_macros" as macro %}

{% set image = craft.imager.transformImage(section.mapImage[0], [
    { width: 320, ratio: 16/9, position: section.mapImage[0].getFocalPoint(), format: imageFormat },
    { width: 620, ratio: 16/9, position: section.mapImage[0].getFocalPoint(), format: imageFormat }
]) %}

<section style="width:100%;display:block;padding:{{ section.spacing }}rem 0;" lazy-load-css="location-block">
    <location-block>
        <google-map aria-hidden="true" web-component data-map="{{ section.map }}">
            <img draggable="false" src="{{ image[0].url }}" srcset="{{ craft.imager.srcset(image) }}" alt="{{ section.mapImage[0].alternateDescription }}" loading="lazy" width="620" style="opacity:0;transition:opacity 300ms ease-out;" onload="this.style.opacity = '1';">
        </google-map>
        <location-content>
            {% if section.companyName %}
                <h3>{{ section.companyName }}</h3>
            {% endif %}
            {{ section.location }}
            {% if section.hoursOfOperation|length %}
                <dl>
                    {% for row in section.hoursOfOperation %}
                        <div style="display:block;width:100%;">
                            <dt>{{ row.day }}</dt>
                            <dd>
                                {% if row.open|length and row.close|length %}
                                    {{ row.open|date('ga') }} - {{ row.close|date('ga') }}
                                {% else %}
                                    {{ "Closed"|t }}
                                {% endif %}
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
            {% endif %}
            <a class="-button" href="{{ section.directionsLink }}" target="_blank">{{ "Get Directions"|t }}</a>
            {% if section.contactEmail|length %}
                {{ macro.emailButton(section.contactEmail, "Email Us"|t) }}
            {% endif %}
        </location-content>
    </location-block>
</section>