{% set minimum = '' %}
{% if input.minimum %}
    {% set minimum = 'min="' ~ input.minimum ~ '"' %}
{% endif %}

{% set maximum = '' %}
{% if input.maximum %}
    {% set maximum = 'max="' ~ input.maximum ~ '"' %}
{% endif %}

{% set step = '' %}
{% if input.step %}
    {% set step = 'step="' ~ input.step ~ '"' %}
{% endif %}
<input-component lazy-load-css="input-component" web-component>
    <input type="number" name="{{ input.title|camel }}" id="{{ input.title|camel }}" {{ input.required ? 'required' }} {{ minimum }} {{ maximum }} {{ step }}>
    <label for="{{ input.title|camel }}">{{ input.title }}</label>
</input-component>