{% extends "_base/page" %}
{% block content %}
{% cache %}
<article>
	<seciton>
		<h1>{{ entry.test }}</h1>
		{% if entry.channelEntry[0]|length %}
			<h2>{{ entry.channelEntry[0].title }}</h2>
		{% endif %}
		<h2>Lorem ipsum dolor sit amet</h2>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
			anim id est laborum.
		</p>
	</seciton>
	<seciton>
		<ul>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
		</ul>
		{% set entries = craft.entries({section: 'channel'}).all() %}
		{% for customEntry in entries %}
			<h3>{{ customEntry.title }}</h3>
			<img
				width="640"
				src="{{ customEntry.image.one.url }}"
				loading="lazy"
				alt="{{ customEntry.title }}"
			/>
		{% endfor %}
	</seciton>
	<seciton>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
			anim id est laborum.
		</p>
		<ol>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
			<li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
		</ol>
	</seciton>
</article>
{% endcache %}
{% endblock %}
