<section style="width:100%;display:block;padding:{{ section.spacing }}rem 1rem;">
    <photo-gallery lazy-load-css="photo-gallery loading-spinner" web-component>
        <image-viewer>
            <loading-spinner class="-floating"></loading-spinner>
        </image-viewer>
        <photo-thumbnails>
            {% for image in section.images %}
                {% set images = craft.imager.transformImage(image, [
                    { width: 100, ratio: 1/1, position: image.getFocalPoint(), format: imageFormat },
                    { width: 320, ratio: 16/9, position: image.getFocalPoint(), format: imageFormat },
                    { width: 425, ratio: 16/9, position: image.getFocalPoint(), format: imageFormat },
                    { width: 768, ratio: 16/9, position: image.getFocalPoint(), format: imageFormat },
                    { width: 1024, ratio: 16/9, position: image.getFocalPoint(), format: imageFormat }
                ]) %}
                <button aria-label="select photo {{ loop.index }}" data-index="{{ loop.index0 }}">
                    <img width="100" loading="lazy" aria-hidden="true" src="{{ images[0].url }}" alt="{{ image.alternateDescription }}" data-srcset="{{ craft.imager.srcset(images) }}">
                </button>
            {% endfor %}
        </photo-thumbnails>
    </photo-gallery>
</section>