<section style="width:100%;display:block;padding:{{ section.spacing }}rem 0;">
    <team-showcase lazy-load-css="team-showcase">
        {% if section.heading|length %}
            <h2>{{ section.heading }}</h2>
        {% endif %}
        {% if section.copy|length %}
            {{ section.copy }}
        {% endif %}
        <team-members>
            {% for member in section.teamMembers %}
                {% set image = craft.imager.transformImage(member.image[0], { width: 300, ratio: 1/1, position: member.image[0].getFocalPoint(), format: imageFormat, mode: 'fit' }) %}
                <team-member>
                    <img-shim>
                        <img src="{{ image.url }}" alt="{{ member.image[0].alternateDescription }}" width="300" loading="lazy" style="opacity:0;transition: opacity 300ms ease-in-out;" onload="this.style.opacity = '1';" />
                    </img-shim>
                    <h3>{{ member.membersName }}</h3>
                    <h4>{{ member.membersRole }}</h4>
                </team-member>
            {% endfor %}
        </team-members>
    </team-showcase>
</section>