<hero-area style="display:block;width:100%;" eager-load-css="hero-area">
    {% set image = craft.imager.transformImage(data.hero.heroImage[0], [
        { width: 320, height: 600, position: data.hero.heroImage[0].getFocalPoint(), format: imageFormat },
        { width: 411, height: 600, position: data.hero.heroImage[0].getFocalPoint(), format: imageFormat },
        { width: 768, ratio: 16/9, position: data.hero.heroImage[0].getFocalPoint(), format: imageFormat },
        { width: 1024, ratio: 16/9, position: data.hero.heroImage[0].getFocalPoint(), format: imageFormat },
        { width: 1280, ratio: 16/9, position: data.hero.heroImage[0].getFocalPoint(), format: imageFormat },
        { width: 1600, ratio: 16/9, position: data.hero.heroImage[0].getFocalPoint(), format: imageFormat },
        { width: 1920, ratio: 16/9, position: data.hero.heroImage[0].getFocalPoint(), format: imageFormat }
    ]) %}
    <img alt="{{ data.hero.heroImage[0].alternateDescription }}" src="{{ image[0].url }}" srcset="{{ craft.imager.srcset(image) }}" width="1920" loading="lazy" style="opacity:0;transition:all 300ms ease-in-out;" onload="this.style.opacity = '1';">
    {% if data.hero.heading|length or data.hero.body|length %}
        <content-wrapper eager-load-css="hero-area-content">
            <div style="display:inline-block;">
                {% if data.hero.heading|length %}
                    <h1>{{ data.hero.heading }}</h1>
                {% endif %}
                {% if data.hero.body|length %}
                    <p>{{ data.hero.body }}</p>
                {% endif %}
            </div>
        </content-wrapper>
    {% endif %}
</hero-area>