<solid-textarea-component lazy-load-css="solid-textarea-component" web-component>
    <textarea name="{{ input.title|camel }}" id="{{ input.title|camel }}" rows="5" {{ input.required ? 'required' }}></textarea>
    <label for="{{ input.title|camel }}">{{ input.title }}</label>
</solid-textarea-component>
