{% set numOfPages = 0 %}
{% set totalPages = 1 %}
{% for row in section.form[0].form %}
    {% if row.type == 'pageBreak' %}
        {% set totalPages = totalPages + 1 %}
    {% endif %}
{% endfor %}
{% set successMessage = "The form was successfully submitted. Thank you."|t %}
{% if section.form[0].successMessage|length %}
    {% set successMessage = section.form[0].successMessage %}
{% endif %}
<section style="width:100%;display:block;padding:{{ section.spacing }}rem 1rem;">
    <form-component web-component lazy-load-css="form buttons snackbar"  data-success-message="{{ successMessage }}">
        {% if section.heading|length %}
            <h2>{{ section.heading }}</h2>
        {% endif %}
        {% if craft.app.request.getParam('success') %}
            <div style="display:block;width:100%;text-align: center;margin-bottom: 3rem;">
                <p style="display:inline-block;color:var(--success-800);line-height:2rem;height:2rem;border-radius:1rem;padding:0 1rem;background-color:var(--success-100);font-weight:var(--font-normal);">{{ successMessage }}</p>
            </div>
        {% endif %}
        <form method="POST" novalidate>
            <input type="hidden" name="formId" value="{{ section.form[0].id }}">
            <noscript>
                {{ csrfInput() }}
                {{ actionInput('pwa-module/default/form-submit') }}
                <input type="hidden" name="redirectUrl" value="{{ craft.app.request.absoluteUrl ~ '?success=true' }}">
            </noscript>
            <form-page>
            {% for row in section.form[0].form %}
                {% if row.type == 'pageBreak' %}
                    {% set numOfPages = numOfPages + 1 %}
                    <div class="-page-break-button-wrapper" style="display: flex;width: 100%;justify-content: space-between;align-items: center;">
                        <form-page-count>Page {{ numOfPages }}&sol;{{ totalPages }}</form-page-count>
                        <button class="button -solid -primary" type="button" data-next-page="{{ numOfPages }}">{{ "Next"|t }}</button>
                    </div>
                    </form-page>
                    {% if not loop.last %}
                        <form-page style="display: none;">
                    {% endif %}
                {% else %}
                    {% set columns = 1 %}
                    {% if row.type == 'twoColumns' %}
                        {% set columns = 2 %}
                    {% elseif row.type == 'threeColumns' %}
                        {% set columns = 3 %}
                    {% elseif row.type == 'copy' %}
                        {% set columns = null %}
                    {% endif %}
                    {% if columns %}
                        <form-grid columns="{{ columns }}">
                            {% for input in row.inputs.all() %}
                                {% include "_blocks/form/inputs/" ~ input.type|kebab %}
                            {% endfor %}
                        </form-grid>
                    {% else %}
                        <form-copy>
                            {{ row.copy }}
                        </form-copy>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </form-page>
            <div class="-submit-button-wrapper" style="display: {{ (numOfPages > 0) ? 'none' : 'flex' }};width: 100%;justify-content: space-between;align-items: center;">
                <form-page-count>
                    {% if totalPages > 1 %}
                        Page {{ totalPages }}&sol;{{ totalPages }}  
                    {% endif %}
                </form-page-count>
                <button class="button -solid -primary" type="submit">{{ "Submit"|t }}</button>
            </div>
        </form>
    </form-component>
</section>
<noscript>
    <style>
        form-component form button {
            opacity: 1 !important;
            visibility: visible !important;
        }
        form-component form-page {
            display: block !important;
        }
        form-component form-page-count {
            opacity: 0 !important;
            visibility: hidden !important;
        }
        form-component  .-page-break-button-wrapper {
            display: none !important;
        }
        form-component .-submit-button-wrapper {
            display: flex !important;
        }
    </style>
</noscript>