<section lazy-load-css="cta-grid-block buttons" style="width:100%;display:block;padding:{{ section.spacing }}rem 0;">
    <cta-grid-block>
        <grid-content>
            <h2>{{ section.heading }}</h2>
            {% if section.copy|length %}
                {{ section.copy }}
            {% endif %}
            {% if section.button.url|length %}
                <a href="{{ section.button.url }}" {{ (section.button.target|length) ? 'target="_blank"' }} class="button -solid -primary -rounded">
                    {% if section.button.customText|length %}
                        {{ section.button.customText }}
                    {% else %}
                        {{ "View More"|t }}
                    {% endif %}
                </a>
            {% endif %}
        </grid-content>
        <cta-grid count="{{ section.cards|length }}">
            {% for card in section.cards %}
                <a href="{{ card.customLink.url }}" {{ (card.customLink.target|length) ? 'target="_blank"' }}>
                    {{ svg(card.icon[0]) }}
                    <h3>{{ card.heading }}</h3>
                    {% if card.copy|length %}
                        <p>{{ card.copy }}</p>
                    {% endif %}
                </a>
            {% endfor %}
        </cta-grid>
    </cta-grid-block>
</section>