{% extends "_base/base" %}

{% block page %}
    <style>
        body{
            background-color: var(--grey-200);
        }
        main{
            min-height: calc(100vh - 2rem);
            display: block;
            padding: 8rem 0 4rem;
        }
    </style>
    <header class="-utility">
        <a id="logo" href="{{ siteUrl }}">
            <img src="{{ generalSettings.image[0].url }}" alt="{{ generalSettings.image[0].alternateDescription }}">
        </a>
    </header>
    <main eager-load-css="normalize variables base page-transition soft-loading utility">
        {% block content %}{% endblock %}
    </main>
    <footer class="-utility">
        <span>&copy; {{ now|date('Y') }} {{ generalSettings.companyName }}</span>
        {% if generalSettings.privacyPolicy.url|length %}
            <a href="{{ generalSettings.privacyPolicy.url }}">{{ "Privacy Policy"|t }}</a>
        {% endif %}
        {% if generalSettings.termsOfService.url|length %}
            <a href="{{ generalSettings.termsOfService.url }}">{{ "Terms of Service"|t }}</a>
        {% endif %}
    </footer>
{% endblock %}
