{% extends "_base/base" %}

{% block page %}
    <style>
        body{
            background-color: var(--grey-200);
        }
        footer{
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: var(--grey-800);
            font-size: var(--text-xs);
            padding: 1rem;
        }
        footer a{
            margin-left: 1rem;
            transition: all 75ms ease-in-out;
        }
        footer a:hover,
        footer a:focus
        {
            color: var(--primary-600);
            text-decoration: underline;
        }
        main{
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <header class="-utility">
        <a id="logo" href="{{ siteUrl }}">
            <img src="{{ generalSettings.image[0].url }}" alt="{{ generalSettings.image[0].alternateDescription }}">
        </a>
    </header>
    <main eager-load-css="normalize variables base page-transition soft-loading utility">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <span>&copy; {{ now|date('Y') }} {{ generalSettings.companyName }}</span>
        {% if generalSettings.privacyPolicy.url|length %}
            <a href="{{ generalSettings.privacyPolicy.url }}">{{ "Privacy Policy"|t }}</a>
        {% endif %}
        {% if generalSettings.termsOfService.url|length %}
            <a href="{{ generalSettings.termsOfService.url }}">{{ "Terms of Service"|t }}</a>
        {% endif %}
    </footer>
{% endblock %}
