{% extends "_base/utility" %}
{% import "_macros" as inputs %}
{% set success = craft.app.request.getParam('success') %}
{% block content %}
    <style>
        main{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <user-form eager-load-css="buttons login-form snackbar" web-component data-route="/actions/users/send-password-reset-email">
        <form method="post" accept-charset="UTF-8" style="{{ success ? 'display:none;' }}">
            <h1>{{ "Password Reset"|t }}</h1>

            <noscript>
                {{ csrfInput() }}
                {{ actionInput('users/send-password-reset-email') }}
                {{ redirectInput('/forgot-password?success=true') }}
            </noscript>
        
            <input-component lazy-load-css="input-component" web-component>
                <input type="email" name="loginName" id="loginName" required inputmode="email">
                <label for="loginName">{{ "Email Address"|t }}</label>
            </input-component>
            <noscript>
                <style>
                    input-component label{
                        transform: translateY(0.25rem) scale(0.75);
                    }
                    input-component input{
                        background-color: var(--grey-100);
                    }
                </style>
            </noscript>

            <div style="width:100%;display:block;text-align: right;">
                <button type="submit" class="button -solid -primary">{{ "Submit"|t }}</button>
            </div>
        </form>
        <success-message style="{{ success ? 'display:block;' : 'display:none;' }}">
            <h1>{{ "Confirmation email sent"|t }}</h1>
            <p>
                {{ "Check your email for the password reset link."|t }}
                {{ "If you don't receive your password reset link after 10 minutes please"|t }}
                <a href="{{ siteUrl|trim('/') }}/form/general-support">{{ "contact support"|t }}.</a>
            </p>
        </success-message>
        <p id="alt-message">
            {{ "Don't have an account?"|t }}
            <a href="{{ siteUrl|trim('/') }}/register">{{ "Create one now"|t }}</a>
        </p>
    </user-form eager-load-css="buttons login-form">
{% endblock %}
