<fieldset-component {{ input.required ? 'required web-component' }} name="{{ input.title|camel }}">
    <fieldset lazy-load-css="fieldset">
        <legend>{{ input.title }}</legend>
        {% if input.helperText|length %}
            <p>{{ input.helperText }}</p>
        {% endif %}
        {% for option in input.options %}
            <checkbox-component web-component lazy-load-css="checkbox-component">
                <input type="checkbox" id="{{ input.title|camel }}-{{ option.options|camel }}" name="{{ option.options|camel }}" tabindex="-1" />
                <label for="{{ input.title|camel }}-{{ option.options|camel }}" tabindex="0">
                    <checkbox-icon aria-label="square checkbox icon">
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <path stroke="currentColor" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                        </svg>
                    </checkbox-icon>
                    <span>{{ option.options }}</span>
                </label>
            </checkbox-component>
        {% endfor %}
    </fieldset>
</fieldset-component>